{{!-- <span class="text-[14px] text-[#3D4044] block tracking-[-0.14px]">Unser Blog</span> --}}

{{!-- Banner Area Start --}} 

<section class="pt-10 pb-[32px] xs:pb-[45px] sm:pb-[60px] overflow-hidden">
    <div class="container">
        {{!-- Head --}}
        <div class="sm:pb-10 mb-14 xs:mb-16 sm:mb-[36px]">
            <div class="xs:text-center sm:text-left">
                {{!-- <div class="flex items-center gap-[14px] xs:justify-center sm:justify-start">
                    <a href="https://cada.com/en/blog/"
                        class="flex items-center gap-[5px] text-xs leading-[22px] text-black py-1 px-3 rounded-[32px] bg-[#EEEFF0]">
                        {{> redesign/icons/home}}
                        Cada
                    </a>
                    {{> redesign/icons/bradcamb-right-arrow}}
                    <p class=" text-light_gray text-xs leading-none">Blog</p>
                </div> --}}
                <h1 class="text-[40px] xs:text-[44px] md:text-5xl xl:text-[56px] font-semibold text-black !leading-tight mt-4 tracking-[-2%] xs:tracking-normal">
                    {{@site.title}}
                </h1>
            </div>
            <div class="flex flex-col sm:flex-row xs:items-center sm:items-end xs:justify-center sm:justify-between gap-6 xs:gap-10 mt-4 xs:text-center sm:text-left">
                {{#if @site.description}}
                <p class="text-sm xs:text-lg !leading-snug max-w-[680px] w-full">{{@site.description}}</p>
                {{/if}}
                <div class="sm:max-w-[300px] xl:max-w-[351px] w-full relative search-input-bar">
                    <div class="sm:max-w-[300px] xl:max-w-[351px] w-full relative">
                        <input
                            class="h-[48px] w-full bg-transparent border py-3 pl-[14px] pr-8 border-[#D0D5DD] rounded-lg text-black placeholder:text-[#667085] search-input"
                            type="text" placeholder="Suchen">
                        <button class="absolute top-1/2 right-[17px] transform -translate-y-1/2 z-10">
                            {{> redesign/icons/search}}
                        </button>
                    </div>
                    <div class="search-result nicescrol shadow-md">
                        <div class="custom">
                            <h2 class="no-result">{{{t "<span>0</span> Ergebnisse zu diesem Schlüsselwort gefunden"}}}</h2>
                            <div class="search-full-content"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{#get "posts" limit="4"  include="tags" filter="featured:true" }}
        {{> redesign/banner-feature }}
        {{/get}}
    </div>
</section>

{{!-- Banner Area End --}}