{{!-- Header Start --}}
<header class="header-area same-header-style py-5 lg:py-0 bg-[#fff] {{#is "post"}}post-header{{/is}}">
    <div class="container">
        <div class="header-wrapper flex items-center justify-between gap-5">
            <a href="https://cada.com/de" class="logo">
                {{#if @site.logo}}
                    <img class="md:max-w-[86px] max-w-[60px]" src="{{@site.logo}}" alt="{{@site.title}}">
                    {{else}}
                    <h2 class="site-title-if-no-logo">{{@site.title}}</h2>
                {{/if}}
            </a>
            <div class="main-menu">
                <ul>
                    <li class="relative">
                        <a href="#">Fruchtbarkeitsanalyse</a>
                         <div class="sub-menu">
                            <ul>
                                <li>
                                    <a href="https://cada.com/de/analysis/">
                                        <span>
                                            Für Paare
                                            <span>{{> icons/menu-items-arrow}}</span>
                                        </span>
                                        <p>Ganzheitliche Fruchtbarkeitsanalyse</p>
                                    </a>
                                </li>
                                <li class="lg:order-none order-5">
                                    <a href="https://cada.com/de/analysis/female/">
                                        <span>
                                            Für Frauen
                                            <span>{{> icons/menu-items-arrow}}</span>
                                        </span>
                                        <p>Umfassend und speziell entwickelt</p>
                                    </a>
                                </li>
                                <li class="lg:order-none order-5">
                                    <a href="https://cada.com/de/analysis/male/">
                                        <span>
                                            Für Männer
                                            <span>{{> icons/menu-items-arrow}}</span>
                                        </span>
                                        <p>Schnell und präzise</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="relative">
                        <a href="#">Behandlungen</a>
                        <div class="sub-menu">
                            <ul>
                                <li>
                                    <a href="https://cada.com/de/treatment/ht/">
                                        <span>
                                            Hormontherapie
                                            <span>{{> icons/menu-items-arrow}}</span>
                                        </span>
                                        <p>Hormonelle Zyklusuntersützung</p>
                                    </a>
                                </li>
                                <li class="lg:order-none order-5">
                                    <a href="https://cada.com/de/treatment/iui/">
                                        <span>
                                            IUI
                                            <span>{{> icons/menu-items-arrow}}</span>
                                        </span>
                                        <p>Intrauterine Insemination</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="https://cada.com/de/why-cada/">Warum Cada</a></li>
                    <li class="relative lg:block hidden">
                        <a href="#">Mehr</a>
                        <div class="mega-menu">
                            <ul>
                                <li>
                                    <a href="https://cada.com/de/about-us/">
                                        <span>
                                            Über uns
                                            <span>{{> icons/menu-items-arrow}}</span>
                                        </span>
                                        <p>Erfahre mehr über das Cada-Team</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://cada.com/de/video//">
                                        <span>
                                            Cada TV
                                            <span>{{> icons/menu-items-arrow}}</span>
                                        </span>
                                        <p>Fruchtbarkeit leicht verständlich</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://cada.com/de/locations/">
                                        <span>
                                            Praxis
                                            <span>{{> icons/menu-items-arrow}}</span>
                                        </span>
                                        <p>Einblicke in unsere Praxisräume</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://cadafertility.careers.flair.hr/">
                                        <span>
                                            Karriere
                                            <span>{{> icons/menu-items-arrow}}</span>
                                        </span>
                                        <p>Unsere offenen Stellen</p>
                                    </a>
                                </li>
                                <li class=" col-span-2 max-w-[194px]">
                                    <a href="https://cada.com/de/blog/">
                                        <span>
                                            Blog
                                            <span>{{> icons/menu-items-arrow}}</span>
                                        </span>
                                        <p>Tieferes Wissen zum Thema Kinderwunsch</p>
                                    </a>
                                </li>
                                
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="block lg:hidden mt-12 px-5 xs:px-[50px]">
                    <h6 data-v-392db25b="" class="text-base font-inter text-[#777C85] mb-4">Mehr</h6>
                    <ul class="space-y-[16px] text-lg font-medium text-dark tracking-[-.18px] leading-normal">
                        <li><a href="https://cada.com/de/about-us/">Über uns</a></li>
                        <li><a href="https://cada.com/de/locations/">Praxis</a></li>
                        <li><a href="https://cada.com/de/blog/">Blog</a></li>
                        <li><a href="https://cada.com/de/video/">Cada TV</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-right flex items-center gap-5">
                <div class="relative">
                    <div class="language-wrap flex items-center gap-[4px] py-[6px] md:pl-[12px] md:pr-[16px] px-2  border border-[#000] h-[30px] md:h-[48px] w-[60px] md:w-[70px] rounded-[8px] cursor-pointer">
                        <div>
                            {{> icons/global}}
                        </div>
                        <span class="md:text-[14px] text-[12px] leading-[22px] tracking-[-0.14px] font-medium text-[#000] block">DE</span>
                    </div>
                    <ul class="language-selector absolute mt-3 md:mt-6 right-0 md:right-auto md:left-1/2 md:-translate-x-1/2 max-h-60 w-[160px] overflow-auto bg-[#fff] py-2 z-30 hidden rounded-[8px] shadow-box">
                        <li class="py-2 px-6">
                            <div class="relative cursor-pointer select-none sm:text-sm">
                                <a href="https://cada.com/en/blog/" class="truncate text-start font-normal text-[14px]">
                                    EN
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>
                <a class="btn-primary !hidden lg:!inline-block header-button" href="https://booking.cada.com/de/appointment/" target="_blank"><span>Kostenfreie Beratung</span></a>
                <button class="hamgurger lg:hidden">
                    <span class="top"></span>
                    <span class="bottom"></span>
                </button>
            </div>
        </div>
    </div>
    {{!-- Progress Bar for posts --}}
    {{#is "post"}}<div class="progress-bar"></div>{{/is}}
</header>
{{!-- Header End --}}
{{#is "post"}}
<script>
    const handleProgressBar = (offsetNumber) => {
            const progressBar = document.querySelector('.progress-bar');
            const blogTitle = document.querySelector('.site-logo');
            if (progressBar) {
                window.addEventListener('scroll', (event) => {
                    // Progressbar
                    var scrollTop = document.querySelector('.post-content')["scrollTop"] ||
                        document.documentElement["scrollTop"] ||
                        document.body["scrollTop"];


                    var scrollBottom = (document.querySelector('.post-content')["scrollHeight"] ||
                        document.documentElement["scrollHeight"] ||
                        document.body["scrollHeight"] -
                        document.documentElement.scrollHeight);

                    scrollPercent = Math.round((scrollTop - offsetNumber) / scrollBottom * 100);

                    if (scrollPercent <= 101) {
                        if (scrollTop < offsetNumber) {
                            // console.log('Test: ' + scrollTop)
                            document.body.classList.remove('body-content--scrolled')
                        } else {
                            // console.log('Scrolled: ' + scrollTop, scrollPercent)
                            document.body.classList.add('body-content--scrolled')
                        }
                        progressBar.style.setProperty("--scroll", scrollPercent + "%");
                    } else {
                        document.body.classList.add('body-content--scrolled')
                        progressBar.style.setProperty("--scroll", '101%');
                    }
                }, false);
            }
        }

        if (window.outerWidth < 767) {
            handleProgressBar(245);
        } else {
            handleProgressBar(245);
        }
</script>
{{/is}}