{{!-- Header Start --}}
<header class="header-area py-5 lg:py-0 bg-[#fff] {{#is "post"}}post-header{{/is}}">
    <div class="container">
        <div class="header-wrapper flex items-center justify-between gap-5">
            <a href="https://cada.com/de" class="logo">
                {{#if @site.logo}}
                    <img class="max-w-[100px]" src="{{@site.logo}}" alt="{{@site.title}}">
                    {{else}}
                    <h2 class="site-title-if-no-logo">{{@site.title}}</h2>
                {{/if}}
            </a>
            <div class="main-menu">
                <ul>
                    <li>
                        <a href="https://cada.com/de/analysis">Fertility Check</a>
                    </li>
                    <li class="relative">
                        <a href="#">Behandlungen </a>
                        <div class="mega-menu">
                            <ul>
                                <li>
                                    <a href="https://cada.com/de/treatment/ht/">
                                        <span>
                                            Hormontherapie
                                            <span>{{> icons/menu-items-arrow}}</span>
                                        </span>
                                        <p>Hormonelle Zyklusuntersützung</p>
                                    </a>
                                </li>
                                <li class="lg:order-none order-4">
                                    <a href="https://cada.com/de/treatment/social-freezing-male/">
                                        <span>
                                            Social Freezing Mann
                                            <span>{{> icons/menu-items-arrow}}</span>
                                        </span>
                                        <p>Kryokonservierung der Samenzellen</p>
                                    </a>
                                </li>
                                <li class=" lg:order-none order-2">
                                    <a href="https://cada.com/de/treatment/ivf/">
                                        <span>
                                            IVF
                                            <span>{{> icons/menu-items-arrow}}</span>
                                        </span>
                                        <p>In-Vitro Fertilization</p>
                                    </a>
                                </li>
                                <li class="lg:order-none order-5">
                                    <a href="https://cada.com/de/treatment/social-freezing-female/">
                                        <span>
                                            Social Freezing Frau
                                            <span>{{> icons/menu-items-arrow}}</span>
                                        </span>
                                        <p>Kryokonservierung der Eizellen</p>
                                    </a>
                                </li>
                                <li class="lg:order-none order-3">
                                    <a href="https://cada.com/de/treatment/iui/">
                                        <span>
                                            IUI
                                            <span>{{> icons/menu-items-arrow}}</span>
                                        </span>
                                        <p>Intrauterine Insemination </p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li><a href="https://cada.com/de/why-cada/">Warum Cada</a></li>
                    {{!-- <li class="relative">
                        <a href="#">Ressourcen</a>
                        <div class="sub-menu">
                            <ul>
                                <li>
                                    <a href="https://cada.com/de/blog/">
                                        <span>
                                            Blog
                                            <span>{{> icons/menu-items-arrow}}</span>
                                        </span>
                                        <p>Informationen und Artikel zu Kinderwunsch-Themen</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li> --}}
                    <li class="relative lg:block hidden">
                        <a href="#">Mehr</a>
                        <div class="mega-menu">
                            <ul>
                                <li>
                                    <a href="https://cada.com/de/about-us/">
                                        <span>
                                            Über uns
                                            <span>{{> icons/menu-items-arrow}}</span>
                                        </span>
                                        <p>Erfahre mehr über das Cada-Team</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://cadafertility.careers.flair.hr/">
                                        <span>
                                            Karriere
                                            <span>{{> icons/menu-items-arrow}}</span>
                                        </span>
                                        <p>Informationen zu offenen Stellen bei Cada</p>
                                    </a>
                                </li>
                                <li class=" col-span-2 max-w-[194px]">
                                    <a href="https://cada.com/de/locations/">
                                        <span>
                                            Praxis
                                            <span>{{> icons/menu-items-arrow}}</span>
                                        </span>
                                        <p>Unser Standort und Einblicke in unsere Praxisräume</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://cada.com/de/blog/">
                                        <span>
                                            Blog
                                            <span>{{> icons/menu-items-arrow}}</span>
                                        </span>
                                        <p>informationen und Artikel Zu Kinderwunsch-Themen</p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <div class="block lg:hidden mt-12 px-5 xs:px-[50px]">
                    <h6 data-v-392db25b="" class="text-base font-inter text-[#777C85] mb-4">Mehr</h6>
                    <ul class="space-y-[16px] text-lg font-medium text-dark tracking-[-.18px] leading-normal">
                        <li><a href="https://cada.com/de/about-us/">Über uns</a></li>
                        <li><a href="https://cada.com/de/locations/">Praxis</a></li>
                        <li><a href="https://cada.com/de/blog/">Blog</a></li>
                        <li><a href="https://cadafertility.careers.flair.hr/">Karriere</a></li>
                    </ul>
                </div>
            </div>
            <div class="header-right flex items-center gap-5">
                <a class="btn-primary !hidden lg:!inline-block header-button" href="https://booking.cada.com/de/appointment/?_gl=1*hovdgt*_gcl_au*NjE1NDQ0NDgwLjE3MDI2Mjg2OTM.*_ga*MTQzMDc1NTcyMy4xNzAyNjI4Njkz*_ga_3Y8RV0505Q*MTcwMjYzNTMwNy4yLjEuMTcwMjYzNTg1OS4wLjAuMA.." target="_blank">Kostenfreie Beratung</a>
                <button class="hamgurger lg:hidden">
                    <span class="top"></span>
                    <span class="bottom"></span>
                </button>
            </div>
        </div>
    </div>
    {{!-- Progress Bar for posts --}}
    {{#is "post"}}<div class="progress-bar"></div>{{/is}}
</header>
{{!-- Header End --}}