<a class="single-search-result hidden" href="">
    <div class="single-result-item">
        <div class="result-title d-flex align-items-center"><span class="p-tag text-xs leading-[18px] font-semibold py-1 px-3 bg-[#F8F8F8] rounded-[32px] text-pragrapgh inline-block">
            <h5 class="post-title"></h5>
        </div>
        <p class="post-text line-clamp-2 mt-2 text-sm leading-[22px] tracking-[-0.01px] text-[#777C85]"></p>
    </div>
</a>