<div class="bg-[#FCF7E8] rounded-[20px] overflow-hidden flex sm:gap-10 lg:gap-[60px] relative z-[1] flex-col sm:flex-row">
    <img class="absolute -z-[1] top-0 right-0" src="{{asset "/img/shape.png"}}" alt="shape">
    <div class="sm:max-w-[563px] w-full">
        <img class="w-full h-full object-cover" src="{{asset "/img/subscribe.webp"}}" alt="signup">
    </div>
    <div class="sm:max-w-[530px] w-full p-5 xs:p-10 sm:px-0 sm:py-12 lg:py-20 flex flex-col items-start sm:mr-10">
        <h2 class="text-dark text-2xl xs:text-[28px] sm:text-[32px] font-Jakarta font-semibold leading-[1.4] translate-y-[0.7px]">Buche jetzt dein kostenfreies Beratungsgespräch</h2>
        <p class="text-sm tracking-[-0.14px] mt-4 xl:!tracking-normal text-[#000]">In einem persönlichen Erstgespräch nehmen wir uns Zeit, deine Bedürfnisse zu verstehen und beraten dich zu deinen Möglichkeiten.</p>
        <a class="btn-primary mt-5 sm:mt-10" target="_blank" href="https://booking.cada.com/de/appointment/">Kostenfreier Beratungstermin</a>
    </div>
</div>