{{!-- Video Hub Area Start --}}

<section class="py-[32px] xs:py-[48px] sm:py-[60px] overflow-hidden">
    <div class="container">
        <div class="mb-8 xs:mb-10 md:mb-16 flex items-center justify-between gap-10">
            <h2 class="text-3xl xs:text-4xl sm:text-[40px] !leading-tight font-semibold flex flex-wrap items-center xs:gap-2 ">Fruchtbarkeit leicht verständlich</h2>
            <div class="hidden sm:flex gap-5">
                <button class="video-hub-prev w-10 h-10 rounded-full border border-[#777C85] flex items-center justify-center duration-300 opacity-50 hover:opacity-100">
                    <svg width="13" height="11" viewBox="0 0 13 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.0859 5.37305L1.08803 5.58745" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M5.67578 9.99805L1.08892 5.58661L5.50036 0.999757" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
                <button class="video-hub-next w-10 h-10 rounded-full border border-[#777C85] flex items-center justify-center duration-300 opacity-50 hover:opacity-100">
                    <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.5 6H12.5" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M8 1.5L12.5 6L8 10.5" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            </div>
        </div>
        <div class="">
            <div class="swiper video-hub-slider max-w-[296px] xs:max-w-[308px] !mx-0 sm:max-w-none">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="group line-hover-wrap">
                          <div class="relative rounded-2xl overflow-hidden">
                            <a href="https://cada.com/de-ch/video-lounge/wie-kann-man-sich-auf-das-erstgespraech-bei-cada-vorbereiten/">
                              {{> image
                                image_class="lazyload"
                                image_url="https://a.storyblok.com/f/256458/1920x1080/a84203e42c/e03-video.png/m/788x443/filters:format(webp):quality(75)"
                                size_s=true
                                size_m=true
                              }}
                            </a>
                              {{!-- tag --}}
                            <div class="absolute z-10 top-[14px] left-5 flex gap-2">
                                <a href="#"
                                    class="text-xs leading-[18px] font-semibold py-1 px-3 bg-white rounded-[32px] text-pragrapgh "><span class="block translate-y-[1px]">Body</span></a>
                            </div>
                              {{!-- Play Button --}}
                              <a href="https://cada.com/de-ch/video-lounge/wie-kann-man-sich-auf-das-erstgespraech-bei-cada-vorbereiten/" class="popup-video w-[60px] h-[60px] rounded-full bg-white flex items-center justify-center absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10 duration-300">
                                  {{> redesign/icons/play-icon}}
                              </a>
                          </div>
                          <div class="mt-6">
                              <h5 class="text-lg xs:text-xl leading-[22px] xs:leading-[28px] font-semibold tracking-[-0.01px] font-inter underline-animation"><a href="https://cada.com/de-ch/video-lounge/wie-kann-man-sich-auf-das-erstgespraech-bei-cada-vorbereiten/">Wie kann man sich auf das Erstgespräch bei Cada vorbereiten?</a>
                              </h5>
                          </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="group line-hover-wrap">
                          <div class="relative rounded-2xl overflow-hidden">
                            <a href="https://cada.com/de-ch/video-lounge/ist-unfruchtbarkeit-ein-thema-das-ausschliesslich-frauen-betrifft/">
                              {{> image
                                image_class="lazyload"
                                image_url="https://a.storyblok.com/f/256458/1920x1080/cbdc393356/e02-video.png/m/788x443/filters:format(webp):quality(75)"
                                size_s=true
                                size_m=true
                              }}
                            </a>
                              {{!-- tag --}}
                            <div class="absolute z-10 top-[14px] left-5 flex gap-2">
                                <a href="#"
                                    class="text-xs leading-[18px] font-semibold py-1 px-3 bg-white rounded-[32px] text-pragrapgh "><span class="block translate-y-[1px]">Body</span></a>
                            </div>
                              {{!-- Play Button --}}
                              <a href="https://cada.com/de-ch/video-lounge/ist-unfruchtbarkeit-ein-thema-das-ausschliesslich-frauen-betrifft/" class="popup-video w-[60px] h-[60px] rounded-full bg-white flex items-center justify-center absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10 duration-300">
                                  {{> redesign/icons/play-icon}}
                              </a>
                          </div>
                          <div class="mt-6">
                              <h5 class="text-lg xs:text-xl leading-[22px] xs:leading-[28px] font-semibold tracking-[-0.01px] font-inter underline-animation"><a href="https://cada.com/de-ch/video-lounge/ist-unfruchtbarkeit-ein-thema-das-ausschliesslich-frauen-betrifft/">Ist Unfruchtbarkeit ein Thema, das ausschliesslich Frauen betrifft?</a>
                              </h5>
                          </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="group line-hover-wrap">
                          <div class="relative rounded-2xl overflow-hidden">
                            <a href="https://cada.com/de-ch/video-lounge/was-kann-man-tun-um-seine-fruchtbarkeit-auf-naturliche-weise-zu-verbessern/">
                              {{> image
                                image_class="lazyload"
                                image_url="https://a.storyblok.com/f/256458/1920x1080/e24f79a4af/ev_06.jpg/m/788x443/filters:format(webp):quality(75)"
                                size_s=true
                                size_m=true
                              }}
                            </a>
                              {{!-- tag --}}
                            <div class="absolute z-10 top-[14px] left-5 flex gap-2">
                                <a href="#"
                                    class="text-xs leading-[18px] font-semibold py-1 px-3 bg-white rounded-[32px] text-pragrapgh "><span class="block translate-y-[1px]">Body</span></a>
                            </div>
                              {{!-- Play Button --}}
                              <a href="https://cada.com/de-ch/video-lounge/was-kann-man-tun-um-seine-fruchtbarkeit-auf-naturliche-weise-zu-verbessern/" class="popup-video w-[60px] h-[60px] rounded-full bg-white flex items-center justify-center absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10 duration-300">
                                  {{> redesign/icons/play-icon}}
                              </a>
                          </div>
                          <div class="mt-6">
                              <h5 class="text-lg xs:text-xl leading-[22px] xs:leading-[28px] font-semibold tracking-[-0.01px] font-inter underline-animation"><a href="https://cada.com/de-ch/video-lounge/was-kann-man-tun-um-seine-fruchtbarkeit-auf-naturliche-weise-zu-verbessern/">Was kann man tun, um seine Fruchtbarkeit auf natürliche Weise zu verbessern?</a>
                              </h5>
                          </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="group line-hover-wrap">
                          <div class="relative rounded-2xl overflow-hidden">
                            <a href="https://cada.com/de-ch/video-lounge/welche-fruchtbarkeitstests-koennen-fuer-die-weibliche-fruchtbarkeit-durchgefuehrt-werden/">
                              {{> image
                                image_class="lazyload"
                                image_url="https://a.storyblok.com/f/256458/1920x1080/282d4a671e/ev_08.jpg/m/788x443/filters:format(webp):quality(75)"
                                size_s=true
                                size_m=true
                              }}
                            </a>
                              {{!-- tag --}}
                            <div class="absolute z-10 top-[14px] left-5 flex gap-2">
                                <a href="#"
                                    class="text-xs leading-[18px] font-semibold py-1 px-3 bg-white rounded-[32px] text-pragrapgh "><span class="block translate-y-[1px]">Body</span></a>
                            </div>
                              {{!-- Play Button --}}
                              <a href="https://cada.com/de-ch/video-lounge/welche-fruchtbarkeitstests-koennen-fuer-die-weibliche-fruchtbarkeit-durchgefuehrt-werden/" class="popup-video w-[60px] h-[60px] rounded-full bg-white flex items-center justify-center absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10 duration-300">
                                  {{> redesign/icons/play-icon}}
                              </a>
                          </div>
                          <div class="mt-6">
                              <h5 class="text-lg xs:text-xl leading-[22px] xs:leading-[28px] font-semibold tracking-[-0.01px] font-inter underline-animation"><a href="https://cada.com/de-ch/video-lounge/welche-fruchtbarkeitstests-koennen-fuer-die-weibliche-fruchtbarkeit-durchgefuehrt-werden/">Welche Fruchtbarkeitstests können für die weibliche Fruchtbarkeit durchgeführt werden?</a>
                              </h5>
                          </div>
                      </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="group line-hover-wrap">
                          <div class="relative rounded-2xl overflow-hidden">
                            <a href="https://cada.com/de-ch/video-lounge/welche-fruchtbarkeitstests-koennen-fuer-die-maennliche-fruchtbarkeit-durchgefuehrt-werden/">
                              {{> image
                                image_class="lazyload"
                                image_url="https://a.storyblok.com/f/256458/1920x1080/fdf98349d7/ev_09.jpg/m/788x443/filters:format(webp):quality(75)"
                                size_s=true
                                size_m=true
                              }}
                            </a>
                              {{!-- tag --}}
                            <div class="absolute z-10 top-[14px] left-5 flex gap-2">
                                <a href="#"
                                    class="text-xs leading-[18px] font-semibold py-1 px-3 bg-white rounded-[32px] text-pragrapgh "><span class="block translate-y-[1px]">Body</span></a>
                            </div>
                              {{!-- Play Button --}}
                              <a href="https://cada.com/de-ch/video-lounge/welche-fruchtbarkeitstests-koennen-fuer-die-maennliche-fruchtbarkeit-durchgefuehrt-werden/" class="popup-video w-[60px] h-[60px] rounded-full bg-white flex items-center justify-center absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10 duration-300">
                                  {{> redesign/icons/play-icon}}
                              </a>
                          </div>
                          <div class="mt-6">
                              <h5 class="text-lg xs:text-xl leading-[22px] xs:leading-[28px] font-semibold tracking-[-0.01px] font-inter underline-animation"><a href="https://cada.com/de-ch/video-lounge/welche-fruchtbarkeitstests-koennen-fuer-die-maennliche-fruchtbarkeit-durchgefuehrt-werden/">Welche Fruchtbarkeitstests können für die männliche Fruchtbarkeit durchgeführt werden?</a>
                              </h5>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
            <div class="video-hub_pagination flex items-center justify-center gap-2 sm:hidden mt-10 xs:mt-16"></div>
        </div>
    </div>
</section>