{{!-- Video Hub Area Start --}}

<section class="py-[32px] xs:py-[48px] sm:py-[60px] overflow-hidden">
    <div class="container">
        <div class="mb-8 xs:mb-10 md:mb-16 flex items-center justify-between gap-10">
            <h2 class="text-3xl xs:text-4xl sm:text-[40px] !leading-tight font-semibold flex flex-wrap items-center xs:gap-2 ">Fruchtbarkeit leicht verständlich</h2>
            <div class="hidden sm:flex gap-5">
                <button class="video-hub-prev w-10 h-10 rounded-full border border-[#777C85] flex items-center justify-center duration-300 opacity-50 hover:opacity-100">
                    <svg width="13" height="11" viewBox="0 0 13 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.0859 5.37305L1.08803 5.58745" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M5.67578 9.99805L1.08892 5.58661L5.50036 0.999757" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
                <button class="video-hub-next w-10 h-10 rounded-full border border-[#777C85] flex items-center justify-center duration-300 opacity-50 hover:opacity-100">
                    <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.5 6H12.5" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M8 1.5L12.5 6L8 10.5" stroke="black" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            </div>
        </div>
        <div class="">
            <div class="swiper video-hub-slider max-w-[296px] xs:max-w-[308px] !mx-0 sm:max-w-none">
                <div id="video-hub-slider-get-api" class="swiper-wrapper">
                    {{!-- {{> swiper-slider-cards}} --}}
                </div>
            </div>
            <div class="video-hub_pagination flex items-center justify-center gap-2 sm:hidden mt-10 xs:mt-16"></div>
        </div>
    </div>
</section>


<script>
  fetch('https://api.storyblok.com/v2/cdn/stories?cv=1712224483&starts_with=video_lounge&token=lnOJnFFpI1xNB6DzObe9EQtt&version=published')
      .then((result) => result.json())
      .then(function (sliderHubData) {
          let singleHubWrapper = document.querySelector('#video-hub-slider-get-api')
          let singleHubWrapperPush = ''
          header = sliderHubData.stories
          //Dextop header script start
          for (let item of header) {
            if(item.content.title && item.content.ogImage.filename){
              singleHubWrapperPush += `
                <div class="swiper-slide">
                    <a href="https://cada.com/de-ch/${item.full_slug}" class="group line-hover-wrap">
                        <div class="relative rounded-2xl overflow-hidden">
                          <img class="lazyload" src="${item.content.ogImage.filename}" alt="">
                            {{!-- tag --}}
                        <div class="absolute z-10 top-[14px] left-5 flex gap-2">
                            <div class="text-xs leading-[18px] font-semibold py-1 px-3 bg-white rounded-[32px] text-pragrapgh "><span class="block translate-y-[1px]">${item.content.category}</span>
                            </div>
                        </div>
                            {{!-- Play Button --}}
                            <span class="popup-video w-[60px] h-[60px] rounded-full bg-white flex items-center justify-center absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 z-10 duration-300">
                              <svg width="15" height="18" viewBox="0 0 15 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M0.601562 1.29052V16.7115C0.603848 16.8346 0.638539 16.9549 0.702138 17.0602C0.765736 17.1656 0.855992 17.2523 0.963808 17.3117C1.07162 17.3711 1.19319 17.401 1.31624 17.3984C1.43929 17.3958 1.55948 17.3608 1.66469 17.2969L14.2717 9.58639C14.3724 9.52544 14.4557 9.43954 14.5135 9.33699C14.5713 9.23445 14.6016 9.11873 14.6016 9.00102C14.6016 8.8833 14.5713 8.76758 14.5135 8.66504C14.4557 8.56249 14.3724 8.47659 14.2717 8.41564L1.66469 0.705141C1.55948 0.641272 1.43929 0.606273 1.31624 0.603672C1.19319 0.601071 1.07162 0.63096 0.963808 0.690325C0.855992 0.749689 0.765736 0.836432 0.702138 0.941805C0.638539 1.04718 0.603848 1.16746 0.601562 1.29052Z" fill="black"/>
                              </svg>
                            </span>
                        </div>
                        <div class="mt-6">
                            <h5 class="text-lg xs:text-xl leading-[22px] xs:leading-[28px] font-semibold tracking-[-0.01px] font-inter underline-animation">${item.content.title}</h5>
                        </div>


                `

                singleHubWrapperPush += `
                    </a>
                </div>
              `
            }
          }
            singleHubWrapper.innerHTML = singleHubWrapperPush
      });
</script>

