{{!< default}}

{{#author}}
    <div class="author-banner-area">
        <div class="container">
            <div class="author-banner-content">
                <h2>{{name}}</h2>
            </div>
        </div>
    </div>
{{/author}}


<div class="py-[30px] xs:pt-[40px] lg:py-[60px] scroll-mt-100" id="articles">
    <div class="container">
        {{> post-loop}}
    </div>
</div>

{{!-- Sign Up Area Start --}}
<div class="sign-up-area blog-signup">
    <div class="container">
        {{> sign-up}}
    </div>
</div>
{{!-- Sign Up Area End --}}