{{!< default}}

<section class="pt-[66px] pb-[60px] xs:pb-[100px] md:pb-[190px] bg-[#FCF7E8]">
    <div class="container">
        <div class="flex justify-center flex-col items-center text-center">
            <span class="text-[100px] xs:text-[150px] md:text-[220px] font-semibold leading-none text-dark font-Jakarta">404</span>
            <h2 class="text-2xl xs:text-4xl md:text-[40px] font-semibold leading-none mt-5">Whoops! Page Not Found</h2>
            <p class="xs:text-lg tracking-[-.18px] leading-none mt-4 xs:mt-5 text-[#3D4044]">The page you’re looking for doesn’t exist</p>
            <a href="{{@site.url}}" class="flex items-center gap-2 py-4 px-6 bg-[#fff] rounded-lg text-dark leading-none tracking-[-.16px] mt-5 xs:mt-10">
                <svg width="7" height="10" viewBox="0 0 7 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M6.20711 0.292893C6.59763 0.683416 6.59763 1.31658 6.20711 1.7071L2.91421 4.99999L6.20711 8.29288C6.59763 8.6834 6.59763 9.31657 6.20711 9.70709C5.81658 10.0976 5.18342 10.0976 4.79289 9.70709L0.792893 5.7071C0.402369 5.31657 0.402369 4.68341 0.792893 4.29289L4.79289 0.292893C5.18342 -0.0976309 5.81658 -0.0976309 6.20711 0.292893Z" fill="black"/>
                </svg>
                Go Back
            </a>
        </div>
    </div>
</section>