{{!< default}}

{{> banner}}

{{!-- Home Card Area Start --}}
<div class="py-[30px] xs:pt-[40px] lg:py-[60px] scroll-mt-100" id="articles">
    <div class="container">
        {{> post-loop}}
    </div>
</div>
{{!-- Home Card Area End --}}

{{!-- Sign Up Area Start --}}
<div class="py-[30px] sm:py-10 lg:pt-[60px] lg:pb-[65px]">
    <div class="max-w-[1480px] mx-auto px-5">
        {{> sign-up}}
    </div>
</div>
{{!-- Sign Up Area End --}}