{{#if @custom.tags_filter}}
{{#get "tags" filter="slug:[{{@custom.tags_filter}}]" limit="all" }}
{{#if tags}}
<section class="py-[32px] xs:py-[48px] sm:py-[60px] overflow-hidden">
    <div class="container">
        <h2 class="text-3xl xs:text-4xl sm:text-[40px] leading-[43px] sm:leading-[48px] font-semibold mb-10 xs:mb-16 xs:text-center">Vertiefe dein Wissen</h2>
        <div class="grid xs:grid-cols-3 gap-6">
            {{#foreach tags}}
                {{> redesign/cards/explore-card}}
            {{/foreach}}
        </div>
    </div>
</section>
{{/if}}
{{/get}}
{{/if}}