<div class="bg-[#F7F5F0] py-8 xs:py-16 px-6 xs:px-10 xl:px-[102px] rounded-xl xs:rounded-[20px] flex items-center justify-between gap-6 xs:gap-10 flex-col sm:flex-row"> 
    <div class="sm:max-w-[300px] w-full">
        <h3 class="text-[30px] xs:text-[40px] !leading-tight font-semibold text-black">Bleibe informiert</h3>
        <p class="text-base xs:text-lg tracking-[-0.01px] mt-4 sm:max-w-[260px] !leading-tight">Lese unsere neusten Artikel als Erster</p>
    </div>
    <div class="sm:max-w-[602px] w-full">
        <div class="relative">
            <form data-members-form="subscribe">
                <div class="flex flex-wrap gap-6 xs:gap-4 flex-col xs:flex-row member-form">
                    <input
                        data-members-email 
                        class="h-[48px] w-full py-[14px] px-3 rounded-lg bg-white border border-border_color flex-1" type="email" placeholder="Deine E-Mail-Adresse"
                    />
                    <button 
                        class="!py-3 !px-5 h-[46px] rounded-lg bg-black text-white font-medium text-base leading-[24px] tracking-[-0.01px] flex items-center justify-between gap-2 btn-primary" 
                        type="submit"
                    >
                        Jetzt abonnieren
                        <span class="spin-animation h-4 w-4 rounded-full"></span>
                    </button>
                </div>
                <h4 class="success-message hidden p-5 w-full bg-black bg-opacity-75 rounded-lg font-normal font-regular text-base text-center mt-3 text-white">Danke schön! Ihre Einsendung ist eingegangen!</h4>
                <p data-members-error class="error-message mt-2 text-[#ff0000]"><!-- error message will appear here --></p>
            </form>
        </div>
        <p class="mt-6 text-sm leading-[22px] tracking-[-0.01px] text-[#777C85]">Wir fühlen uns Ihrer Privatsphäre verpflichtet. Cada verwendet die von Ihnen bereitgestellten Informationen, um Sie bezüglich unserer relevanten Inhalte, Produkte und Dienstleistungen zu kontaktieren. Sie können diese Mitteilungen jederzeit abbestellen. Weitere Informationen finden Sie in unserer<a class="underline" target="_blank" href="https://cada.com/de-ch/datenschutzerklaerung/"> Datenschutzerklärung.</a></p>
    </div>
</div>